@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap%27');

.landing {
    position: absolute;
    margin-left: 50vw;
    margin-top: 50vh;
    transform: translate(-50%, -50%) scale(200%);
}
